body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
   
}

.hero{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(images/donation13.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}


.hero-content{

    position: relative;
    color: aliceblue;
    text-align: center;
    margin: 18%;
   
}


.hero-title{
    font-size: 60px;
   font-weight: 800;
   margin-bottom: 0%;
   text-align: center;
   color: aliceblue;

}
.hero-subtitle{

font-size: 15px;
font-weight: 100;
text-align: center;
color: aliceblue;
}
.hero-button{
    text-decoration:none;
    background-image: linear-gradient(rgb(1, 1, 14),red );
    padding: 15px 50px;
    color: aliceblue;
    font-weight: 800;
    border-radius: 5%;
   
}
.thor{
   text-align: center;
   margin: 5%;
}
h1{
    font-size: 40px;
    font-weight: 800;
}
p{
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.p-1{
  background-color: rgb(212, 208, 208);
  width: 150px;
  border:  solid rgb(54, 54, 54);
  text-align: center;
}
.p-2{
    background-color: rgb(248, 122, 122);
    width: 150px;
    border: 5px solid red;
    text-align: center;
}
.p-3{
    background-color: rgb(212, 208, 208);
    width: 150px;
    border:  solid rgb(54, 54, 54);
    text-align: center;
}
.p-4{
    background-color: rgb(212, 208, 208);
    width:150px;
    border:  solid rgb(54, 54, 54);
    text-align: center;

}

.p-5{
    background-color: rgb(212, 208, 208);
    width: 150px;
    border: solid rgb(54, 54, 54);
    text-align: center;
}
.taka{

text-align: center;
margin: 10%;
text-decoration: underline;
text-decoration-color: red;
text-decoration-thickness:3px ;

}

.flex{
    display: flex;
    align-items: center;
     justify-content: center;
     margin: 0;

    
}
.button-2{
    text-decoration: none;
    background-color: red;
    padding: 15px 40px;
    color: aliceblue;
    font-weight: 800;
    border-radius: 8%;
}

.good{
    display: flex;
    justify-content: space-between;
 
}
#no{
    background-color: #EDF5F6;
    width: 50%;
    padding: 2%;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 3%;
}
#na{
    background-color: #FFF4D6;
    width: 50%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
}
#ni{
    background-color: #FFEEEE;
    width: 50%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
}

 
footer{
text-align: center;
background-color: black;
color: brown;
}