body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
   
}

.hero{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(images/donation13.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}


.hero-content{

    position: relative;
    color: aliceblue;
    text-align: center;
    margin: 18%;
   
}


.hero-title{
    font-size: 60px;
   font-weight: 800;
   margin-bottom: 0%;
   text-align: center;
   color: aliceblue;

}
.hero-subtitle{

font-size: 15px;
font-weight: 100;
text-align: center;
color: aliceblue;
}
.hero-button{
    text-decoration:none;
    background-image: linear-gradient(rgb(1, 1, 14),red );
    padding: 15px 50px;
    color: aliceblue;
    font-weight: 800;
    border-radius: 5%;
   
}